body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 20px;
  color: #333;
}

main {
  padding: 1rem;
}

/* Make the map fill the page */
#london_map {
  height: 100vh;
  width: 100vw;
}

/* Overwrite leaflet typography for bigger labels */
.leaflet-container {
  font-size: .85rem;
}

/* Marker icons */
.leaflet-div-icon {
  background: none;
  border: none;
}

.marker-icon--walk { color: #c0392b; }
.marker-icon--bevis { color: #5070ad; }

/* Marker containers */
.leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
}
.leaflet-popup-content { margin: 0; }

.marker-container {
  padding: 1rem 1rem;
}

.marker-container--linked {
  cursor: pointer;
}

.marker-container > :first-child {
  margin-top: 0;
}

/* Make images in popups fit the popup width */
.marker-container > img {
  display: block;
  max-width: 100%;
  max-width: calc(100% + 2rem);
  margin: 0 -1rem -1rem;
}

/* Toolbar */
.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem; /* To account for copyright info */
  background-color: #333;
  background-color: hsla(0, 0%, 0%, 0.8);
  color: #FFF;
  z-index: 500;
}

.toolbar__control {
  display: flex;
  padding: .5rem;
  align-items: center;
}

.toolbar__links {
  display: flex;
  color: #93c3ff;
}

.toolbar__links > a {
  flex: 1;
  padding: .5rem;
  color: inherit;
}

.toolbar__links > a:last-child {
  text-align: right;
}

.toolbar__control:hover, .toolbar__links > a:hover {
  background-color: hsla(0, 0%, 30%, 0.8);
}

@media screen and (min-width: 800px) {
  .toolbar {
    top: 0;
    bottom: auto;
    left: auto;
    padding-bottom: 0;
  }
}

/* Modals */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 0%, 0.5);
  padding: 1rem;
  overflow: auto;
  z-index: 1000;
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  overflow: auto;
  z-index: 1005;
}

.modal__container[hidden] {
  display: none;
}

.modal {
  max-width: 700px;
  margin: auto;
  border-radius: .25rem;
  background-color: #FFF;
}

.modal__header {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #CCC;
}

.modal__title {
  margin: 0;
  flex: auto;
}

.modal__dismiss {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
}

.modal__content {
  padding: 1rem;
}

.modal__content > p:first-child { margin-top: 0; }
.modal__content > p:last-child { margin-bottom: 0; }

/* Audio player */
.audio-player {
  width: 100%;
}
